* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Mulish', sans-serif;
}

input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #dddddd;
  opacity: 0.1;
}

.container {
  padding: 0px 70px 0px 32px;
}

.avatar {
  background-color: #8f61a9;
  border-radius: 100%;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  margin-bottom: 30px;
  z-index: 50;
  background-color: #fff;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__burger-btn {
  height: 17px;
  width: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 20px;
  cursor: pointer;
}

.header__burger-btn .header__burger-line {
  display: block;
  width: 20px;
  height: 3px;
  background: #000;
  border-radius: 20px;
}

.header__logo {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #f3f3f3;
  border: 1px solid #f3f3f3;
  border-radius: 30px;
  height: 0%;
  padding: 8px 16px;
  font-size: 16px;
  color: #dddddd;
  width: 40vw;
}

.header__search input {
  width: 100%;
}

.header__search input:active, .header__search :hover, .header__search :focus, .header__search input {
  outline: 0;
  outline-offset: 0;
  border: none;
  background-color: inherit;
}

.header__search-btn {
  border: none;
  background: none;
  cursor: pointer;
}

.header__search-btn:active, .header__search-btn :hover, .header__search-btn :focus {
  outline: 0;
  outline-offset: 0;
}

.header svg {
  width: 27px;
  height: 20px;
}

.header__trash {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__create, .header__app, .header__notify {
  display: block;
  margin-right: 2.3vw;
  opacity: 0.24;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.header__create:hover, .header__app:hover, .header__notify:hover {
  opacity: 1;
}

.header__avatar {
  display: block;
  width: 40px;
  height: 40px;
}

.sidebar {
  display: block;
  position: fixed;
  overflow: auto;
  height: calc(100% - 113px);
  top: 113px;
  padding: 0px 50px 0px 32px;
  font-size: 16px;
}

.sidebar::-webkit-scrollbar {
  width: 10px;
}

.sidebar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #fff;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.sidebar:hover::-webkit-scrollbar-thumb {
  background-color: #dddddd;
}

.sidebar svg {
  width: 18px;
  height: 17px;
  opacity: 0.24;
}

.sidebar__list {
  margin: 0px 0px 60px 0px;
}

.sidebar__list:nth-child(3) {
  margin-bottom: 104px;
}

.sidebar__item {
  margin-bottom: 30px;
}

.sidebar__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.sidebar__text {
  font-family: Mulish;
  font-size: 16px;
  line-height: 20px;
  color: #898989;
  margin-left: 15px;
}

.sidebar__title {
  font-family: Mulish;
  font-weight: bold;
  font-size: 18px;
}

.sidebar__avatar {
  width: 26px;
  height: 26px;
}

.main__content {
  width: 100%;
  padding-top: 114px;
  padding-left: 16.3%;
}

.content__channel {
  margin-bottom: 49px;
  position: relative;
}

.content__channel:last-child {
  margin-bottom: 20px;
}

.content__channel-recommend .content__title span {
  margin-left: 0px;
}

.content .content__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content__avatar {
  width: 50px;
  height: 50px;
}

.content__name {
  font-family: Mulish;
  font-weight: bold;
  font-size: 26px;
  color: #19202C;
  margin-left: 20px;
}

.content__title {
  margin-bottom: 30px;
}

.content__row-recommend .video__preview {
  width: 540px;
  height: 250px;
}

.content__btn {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 28px;
  height: 28px;
  background: rgba(1, 1, 1, 0.3);
  border-radius: 50%;
  cursor: pointer;
}

.content__btn-1-prev, .content .content__btn-rec-prev, .content .content__btn-2-prev {
  top: 10px;
  right: 188px;
}

.content__btn-1-next, .content .content__btn-rec-next, .content .content__btn-2-next {
  top: 10px;
  right: 150px;
}

.swiper-slide {
  display: inline-block;
}

.video {
  width: 250px;
}

.video__preview {
  width: 250px;
  height: 150px;
  border-radius: 14px;
  position: relative;
}

.video__preview img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 14px;
}

.video__timecode {
  display: inline-block;
  position: absolute;
  border-radius: 12px;
  padding: 3px 9px;
  background: rgba(1, 1, 1, 0.3);
  color: #ffff;
  position: absolute;
  bottom: 5%;
  right: 5%;
}

.video__name {
  font-weight: bold;
  color: #19202C;
  margin: 10px 0px 4px;
}

.video__subtitle {
  font-size: 13px;
  color: #C2C2C2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.video__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.video__views {
  padding-right: 8px;
  position: relative;
}

.video__views:after {
  content: ' ';
  position: absolute;
  right: 0;
  top: 50%;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: #C2C2C2;
}

.video__date {
  padding-left: 6px;
}
