*{
	box-sizing: border-box;
}
body{
	margin: 0;
	padding: 0;
	font-family: 'Mulish', sans-serif;
}
input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
ul{list-style: none; padding: 0; margin: 0;}
a{text-decoration: none; color: inherit;}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #dddddd;
	opacity: 0.1;
}

//=============================================================================

.container{
	padding: 0px 70px 0px 32px;
}
.avatar{
	background-color: #8f61a9;
	border-radius: 100%;
}
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px;
	margin-bottom: 30px;
	z-index: 50;
	background-color: #fff;
	&__wrapper {
		display: flex;
		justify-content: space-between;
	}

	&__nav {
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	&__burger-btn {
		height: 17px;
		width: 20px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin-right: 20px;
		cursor: pointer;
		& .header__burger-line{
			display: block;
			width: 20px;
			height: 3px;
			background: #000;
			border-radius: 20px;
		}
	}

	&__logo {
		cursor: pointer;
		display: flex;
		align-items: center;
	}

	&__search {
		display: flex;
		align-self: center;
		align-items: center;
		justify-content: space-between;
		background-color: #f3f3f3;
		border: 1px solid #f3f3f3;
		border-radius: 30px;
		height: 0%;
		padding: 8px 16px;
		font-size: 16px;
		color: #dddddd;
		width: 40vw;
		& input{width: 100%;}
		& input:active, :hover, :focus, input {
			outline: 0;
			outline-offset: 0;
			border: none;
			background-color: inherit;
		}
		

	}

	&__search-btn {
		border: none;
		background: none;
		cursor: pointer;
		&:active, :hover, :focus {
			outline: 0;
			outline-offset: 0;
			
		}
		
	}
	& svg{
		width: 27px;
		height: 20px;
	}
	&__trash {
		display: flex;
		justify-content: space-between;
		align-items: center;
		
	}

	&__create, &__app, &__notify {
		display: block;
		margin-right: 2.3vw;
		opacity: 0.24;
		transition: .2s ease;
		&:hover{
			opacity: 1;
		}
	}

	&__avatar {
		display: block;
		width: 40px;
		height: 40px;
	}
}


.sidebar {
	display: block;
	position: fixed;
	overflow: auto;
	height: calc(100% - 113px);
	top: 113px;
	padding: 0px 50px 0px 32px;
	font-size: 16px;
	&::-webkit-scrollbar {
		width: 10px;
	}
	&::-webkit-scrollbar-thumb {
		border-radius: 10px;
		background-color: #fff;
		transition: .2s ease;
	}
	&:hover{
		&::-webkit-scrollbar-thumb{
			background-color: #dddddd;
		}
	}
	& svg{
		width: 18px;
		height: 17px;
		opacity: 0.24;
	}
	&__list {
		margin: 0px 0px 60px 0px;
		&:nth-child(3){
			margin-bottom: 104px;
		}
	}

	&__item{
		margin-bottom: 30px;
	}

	&__link{
		display: flex;
		align-items: center;
		margin-bottom: 20px;
	}
	

	&__text {
		font-family: Mulish;
		font-size: 16px;
		line-height: 20px;
		color: #898989;
		margin-left: 15px;
	}
	
		&__title {
			font-family: Mulish;
		font-weight: bold;
		font-size: 18px;
		}

		&__avatar {
			width: 26px;
			height: 26px;

		}
}

.main {
	&__content{
		width: 100%;
		padding-top: 114px;
		padding-left: 16.3%;
	}
	
}
.content {

	&__channel {
		margin-bottom: 49px;
		position: relative;
		&:last-child{
			margin-bottom: 20px;
		}
	}

	&__channel-recommend{
		& .content__title span{
			margin-left: 0px;
		} 
	}

	.content__title{
		display: flex;
		align-items: center;
	}

	&__avatar {
		width: 50px;
		height: 50px;
	}

	&__name {
		font-family: Mulish;
		font-weight: bold;
		font-size: 26px;
		color: #19202C;
		margin-left: 20px;
	}

	&__title {
		margin-bottom: 30px;
	}

	&__row {
		&-recommend .video__preview{
			width: 540px;
			height: 250px;
		}
	}

	&__wrapper {
	}

	&__video {
	}

	&__btn {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 28px;
		height: 28px;
		background: rgba(1, 1, 1, .3);
		border-radius: 50%;
		cursor: pointer;
	}

	&__btn-1-prev, .content__btn-rec-prev, .content__btn-2-prev{
		top: 10px;
		right: 188px;
	}

	&__btn-1-next, .content__btn-rec-next, .content__btn-2-next{
		top: 10px;
		right: 150px ;
	}



}
.swiper-container {
}
.swiper-wrapper {
}
.swiper-slide {
	display: inline-block;
	
}
.video {
	width: 250px;
	&__preview {
		width: 250px;
		height: 150px;
		border-radius: 14px;
		position: relative;
		& img{
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 14px;
		}
	}

	&__timecode {
		display: inline-block;
		position: absolute;
		border-radius: 12px;
		padding: 3px 9px;
		background: rgba(1, 1, 1, .3);
		color: #ffff;
		position: absolute;
		bottom: 5%;
		right: 5%;
	}

	&__name {
		font-weight: bold;
		color: #19202C;
		margin: 10px 0px 4px;
	}

	&__subtitle {
		font-size: 13px;
		color: #C2C2C2;
		display: flex;
		justify-content: space-between;
	}

	&__info {
		display: flex;
	}

	&__views {
		padding-right: 8px;
		position: relative;
		&:after{
			content: ' ';
			position: absolute;
			right: 0;
			top: 50%;
			width: 2px;
			height: 2px;
			border-radius: 50%;
			background-color: #C2C2C2;
		}
	}

	&__date {
		padding-left: 6px;
	}

	&__author {
	}
}
.swiper-button-prev {
}
.swiper-button-next {
}