*{
	box-sizing: border-box;
}
body{
	margin: 0;
	padding: 0;
	font-family: 'Mulish', sans-serif;
}
input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
ul{list-style: none; padding: 0; margin: 0;}
a{text-decoration: none; color: inherit;}

//=============================================================================

.container{
	padding: 0px 70px 0px 32px;
}
.avatar{
	background-color: #8f61a9;
	border-radius: 100%;
}
.header {
	padding: 20px 0px 50px;
	&__wrapper {
		display: flex;
		justify-content: space-between;
	}

	&__nav {
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	&__burger-btn {
		height: 17px;
		width: 20px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin-right: 20px;
		cursor: pointer;
		& .header__burger-line{
			display: block;
			width: 20px;
			height: 3px;
			background: #000;
			border-radius: 20px;
		}
	}

	&__logo {
		cursor: pointer;
		display: flex;
		align-items: center;
	}

	&__search {
		display: flex;
		align-self: center;
		align-items: center;
		justify-content: space-between;
		background-color: #f3f3f3;
		border: 1px solid #f3f3f3;
		border-radius: 30px;
		height: 0%;
		padding: 8px 16px;
		font-size: 16px;
		color: #dddddd;
		width: 40vw;
		& input{width: 100%;}
		& input:active, :hover, :focus, input {
			outline: 0;
			outline-offset: 0;
			border: none;
			background-color: inherit;
		}
		

	}

	&__search-btn {
		border: none;
		background: none;
		cursor: pointer;
		&:active, :hover, :focus {
			outline: 0;
			outline-offset: 0;
			
		}
		
	}
	& svg{
		width: 27px;
		height: 20px;
	}
	&__trash {
		display: flex;
		justify-content: space-between;
		align-items: center;
		
	}

	&__create, &__app, &__notify {
		display: block;
		margin-right: 2.3vw;
		opacity: 0.24;
		transition: .2s ease;
		&:hover{
			opacity: 1;
		}
	}

	&__avatar {
		display: block;
		width: 40px;
		height: 40px;
	}
}

.main {

	&__sidebar {
		display: inline-block;
	}
}
.sidebar {
	& svg{
		width: 18px;
		height: 17px;
		opacity: 0.24;
	}
	&__list {
		margin: 0px 90px 60px 0px;
		&:nth-child(3){
			margin-bottom: 104px;
		}
	}

	&__item{
		margin-bottom: 30px;
	}

	&__link{
		display: flex;
		align-items: center;
		margin-bottom: 20px;
		& svg{transition: .13s ease-in;}
		& span{transition: .13s ease-in;}
		&:hover{
			& svg{
				fill: #FF0000;
				opacity: 1;
			}
			& span{
				color: #FF0000;
			}
		}
	}

	&__text {
		font-family: Mulish;
		font-size: 16px;
		line-height: 20px;
		color: #898989;
		margin-left: 15px;
	}

		&__title {
			font-family: Mulish;
		font-weight: bold;
		font-size: 18px;
		}

		&__avatar {
			width: 26px;
			height: 26px;

		}

}
